<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/background/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/front/css/bootstrap.min.4.3.1.css}">
    <link rel="stylesheet" th:href="@{/front/css/jquery.Jcrop.min.css}">
    <script th:src="@{/front/js/jquery.min.js}"></script>
    <script th:src="@{/background/layui/layui.js}"></script>
    <script th:src="@{/front/js/vue.min.2.6.10.js}"></script>
    <script th:src="@{/front/js/jquery.Jcrop.min.js}"></script>
    <script th:src="@{/front/js/jquery.color.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="background/public::head"></div>
    <div th:replace="background/public::side(activeUrl='advertmanage')"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            广告管理界面
            <table class="table" id="show-ad">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>图片</th>
                    <th>网址</th>
                    <th>上架日期</th>
                    <th>状态</th>
                    <th>备注</th>
                    <th>
                        <button onclick="add()">新增</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="a in ads">
                    <td>{{a.aid}}</td>
                    <td>{{a.img}}</td>
                    <td>{{a.url}}</td>
                    <td>{{a.createdate}}</td>
                    <td v-if="a.status==1">显示</td>
                    <td v-else>到期</td>
                    <td>{{a.description}}</td>
                    <td>
                        <button @click="upd(a.aid)">修改</button>
                        <button v-if="a.aid==0" @click="on(a.aid)">上架</button>
                        <button v-if="a.aid==1" @click="off(a.aid)">下架</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6 offset-3">
                    <form id="add-form" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">请输入网址</div>
                            </div>
                            <input class="form-control" type="text" name="url"/>
                        </div>



                        <div class="input-group mt-2">
                            <div class="custom-file">
                                <input class="custom-file-input" type="file" name="uploadImg" />
                                <label class="custom-file-label">上传图片</label>
                            </div>
                        </div>

                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">备注</span>
                            </div>
                            <textarea class="form-control"></textarea>
                        </div>

                        <div class="btn-group w-100 mt-2">
                            <button type="button" onclick="add_sure()" class="btn btn-success btn-lg w-50">确定</button>
                            <button type="button" onclick="add_cancel()" class="btn btn-dark btn-lg w-50">取消</button>
                        </div>


                    </form>
                </div>
            </div>
            <img id="element_id" th:src="@{/front/css/Jcrop.gif}">

        </div>
    </div>
</div>
<div th:replace="background/public::foot"></div>
</div>


<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

    var app = new Vue({
        el: "#show-ad",
        data: {
            ads: []
        }
    })

    //获取全部广告
    $(function () {
        $.post("/had/showall", function (data) {
            app.ads = data
        })
    })

    // 新增按钮事件
    function add() {
        $("#add-form").show()
    }
    
    //添加广告
    function add_sure() {

    }

    //取消添加
    function add_cancel(){
        $("#add-form").hide()
    }


    $('#element_id').Jcrop()



</script>
</body>
</html>