<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/background/layui/css/layui.css}">
    <script th:src="@{/background/layui/layui.js}"></script>
    <script th:src="@{/background/js/jquery.min.js}"></script>
    <script th:src="@{/background/js/vue.min.2.6.10.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="background/public::head"></div>
    <div th:replace="background/public::side(activeUrl='modify')"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div>
            <div class="layui-row" style="padding: 20px 40px 20px 40px">
                <div class="layui-col-md3">
                    <label>电影名字</label>
                    <div class="layui-input-inline">
                        <input type="text" value="" id="filmname" required  lay-verify="required" placeholder="请输入电影名字" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-col-md3">
                    <label>上映日期</label>
                    <div class="layui-input-inline">
                        <input type="text"value="" class="layui-input" id="filmdate" placeholder="yyyy-MM-dd">
                    </div>
                </div>

                <div class="layui-col-md3">
                    <label>上映状态</label>
                    <div class="layui-input-inline">
                        <select id="filmstatus" lay-verify="required" class="layui-select">
                            <option value="-1">请选择</option>
                            <option value="0">未上映</option>
                            <option value="1">正上映</option>
                            <option value="2">已上映(下架)</option>
                        </select>
                    </div>
                </div>

                <div class="layui-col-md2">
                    <label>分类</label>
                    <div class="layui-input-inline">
                        <select id="filmrecommend" lay-verify="required" class="layui-select">
                            <option value="-1">请选择</option>
                            <option value="0">无</option>
                            <option value="1">热映</option>
                            <option value="2">即将上映</option>
                            <option value="3">经典</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md1">
                    <button type="button" class="layui-btn" id="search">搜索</button>
                </div>
            </div>
            <div id="app" style="padding: 0px 5px 0px 5px">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                        <col width="200">
                    </colgroup>
                    <thread>
                        <tr>
                            <th>影名</th>
                            <th>封面</th>
                            <th>上映日期</th>
                            <th>电影类型</th>
                            <th>出版国家</th>
                            <th>语言</th>
                            <th>时长</th>
                            <th>导演</th>
                            <th>状态</th>
                            <th>分类</th>
                            <th>编辑</th>
                        </tr>
                    </thread>
                    <tbody>
                        <tr v-for="f in list">
                            <td>{{f.fname}}</td>
                            <td><img v-bind:src="f.filmimg"></td>
                            <td>{{f.releasedate}}</td>
                            <td>{{f.type}}</td>
                            <td>{{f.country}}</td>
                            <td>{{f.language}}</td>
                            <td>{{f.duration}}</td>
                            <td>{{f.director}}</td>
                            <td v-if="f.status==0">未上映</td>
                            <td v-else-if="f.status==1">正上映</td>
                            <td v-else-if="f.status==2">已上映</td>
                            <td v-if="f.recommend==0">无</td>
                            <td v-else-if="f.recommend==1">热映</td>
                            <td v-else-if="f.recommend==2">即将上映</td>
                            <td v-else-if="f.recommend==3">经典</td>
                            <td>
                                <button type="button" class="layui-btn layui-btn-xs" v-bind:id="f.fid" onclick="editor(this)">编辑</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="layui-main">
                <div id="demo6"></div>
            </div>
        </div>
    </div>
    </div><div th:replace="background/public::foot"></div>
</div>







<!--表单-->
<div id="editorfilm" style="display: none;">
        <form class="layui-form" action="">
            <div class="layui-form-item ">
                <input type="text" v-bind:value="film.fid" name="fid" class="layui-hide">
                <label class="layui-form-label">电影名称</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="film.fname" name="fname" required  lay-verify="required" placeholder="请输入电影名字" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">导演名字</label>
                <div class="layui-input-inline">
                    <input type="text" v-bind:value="film.director" name="director" required lay-verify="required" placeholder="导演名字" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电影状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" :id="0" value="0" title="未上映" v-model="film.status">
                    <input type="radio" name="status" :id="1" value="1" title="正上映" v-model="film.status">
                    <input type="radio" name="status" :id="2" value="2" title="已上映" v-model="film.status">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-block">
                    <input type="radio" name="recommend" value="0" title="无" v-model="film.recommend">
                    <input type="radio" name="recommend" value="1" title="热映" v-model="film.recommend">
                    <input type="radio" name="recommend" value="2" title="即将上映" v-model="film.recommend">
                    <input type="radio" name="recommend" value="3" title="经典"v-model="film.recommend">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">上映日期</label>
                <div class="layui-input-inline">
                    <input type="text" v-bind:value="film.releasedate" class="layui-input" name="releasedate" id="filmdate1" placeholder="yyyy-MM-dd">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">电影类型</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="required" v-model="film.type">
                        <option value=""></option>
                        <option value="动作">动作</option>
                        <option value="古装" >古装</option>
                        <option value="爱情">爱情</option>
                        <option value="喜剧">喜剧</option>
                        <option value="科幻">科幻</option>
                        <option value="悬疑">悬疑</option>
                        <option value="惊悚">惊悚</option>
                        <option value="恐怖">恐怖</option>
                        <option value="传记">传记</option>
                        <option value="战争">战争</option>
                        <option value="剧情">剧情</option>
                        <option value="冒险">冒险</option>
                        <option value="纪录片">纪录片</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">时长</label>
                <div class="layui-input-block">
                    <input type="text" v-bind:value="film.duration" name="duration" required  lay-verify="required" placeholder="请输入电影时长" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">出版国家</label>
                <div class="layui-input-inline">
                    <select name="country" lay-verify="required" id="selectcountry" v-model="film.country">
                        <option value=""></option>
                        <option value="大陆" >大陆</option>
                        <option value="美国">美国</option>
                        <option value="韩国">韩国</option>
                        <option value="日本">日本</option>
                        <option value="中国香港">中国香港</option>
                        <option value="中国台湾">中国台湾</option>
                        <option value="泰国">泰国</option>
                        <option value="印度">印度</option>
                        <option value="法国">法国</option>
                        <option value="英国">英国</option>
                        <option value="俄罗斯">俄罗斯</option>
                        <option value="意大利">意大利</option>
                        <option value="西班牙">西班牙</option>
                        <option value="其它">其它</option>
                    </select>
                </div>
                <label class="layui-form-label">语言</label>
                <div class="layui-input-inline">
                    <select  name="language" lay-verify="required" v-model="film.language">
                        <option value=""></option>
                        <option value="国语">国语</option>
                        <option value="英语">英语</option>
                        <option value="韩语">韩语</option>
                        <option value="日语">日语</option>
                        <option value="泰语">泰语</option>
                        <option value="法语">法语</option>
                        <option value="俄语">俄语</option>
                        <option value="意大利语">意大利语</option>
                        <option value="西班牙语">西班牙语</option>
                        <option value="其它">其它</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">电影详情</label>
                <div class="layui-input-block">
                    <textarea name="description" v-bind:value="film.description" placeholder="请输入电影详情" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">电影图片</label>
                <div class="layui-input-inline uploadHeadImage">
                    <div class="layui-upload-drag" id="filmImg">
                        <i class="layui-icon"></i>
                        <p>点击上传图片，或将图片拖拽到此处</p>
                    </div>
                </div>
                <div class="layui-input-inline">
                    <div class="layui-upload-list">
                        <img class="layui-upload-img headImage" style="height: 200px" v-bind:src="film.filmimg" id="demo1">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
            <div>
                <input text=""  id="img" name="filmimg" class="layui-hide">
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
                    <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
</div>




<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
    //使用时间选择控件
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#filmdate'//指定元素
        });
    });


    var vueapp=new Vue({
        el:"#app",
        data:{
            list:[]
        }
    });

       $(function(){
            $.post("/filmController/modifyfilm",{
                    pageNow:pageNowNum,
                    fname:"",
                    releasedate:"",
                    status:-1,
                    recommend:-1
                },
                function (data) {
                    console.log(data);
                   vueapp.list=data.maps.pageInfo.list;
                },
                "json"
            );
        })


        //搜索查询
        $("#search").click(function () {
            var filmname = $("#filmname").val();
            var filmdate = $("#filmdate").val();
            var filmstatus = $("#filmstatus").val();
            var filmrecommend = $("#filmrecommend").val();
            $.post("/filmController/modifyfilm", {
                    pageNow: pageNowNum,
                    fname: filmname,
                    releasedate: filmdate,
                    status: filmstatus,
                    recommend: filmrecommend
                },
                function (data) {
                    //console.log(data);
                    vueapp.list = data.maps.pageInfo.list;
                }
            );
        });


    var pageNowNum=1;
    //只显示上一页、下一页
    $.post("/filmController/showcount",{
        },
        function (data){
            console.log(data);
            layui.use(['laypage', 'layer'], function() {
                var laypage = layui.laypage
                    , layer = layui.layer;
                laypage.render({
                    elem: 'demo6'
                    ,count:data
                    ,limit:5
                    , layout: ['prev', 'next']
                    , jump: function (obj, first) {
                        pageNowNum=obj.curr;
                        $.post("/filmController/modifyfilm",{
                                pageNow:pageNowNum,
                                fname:$("#filmname").val(),
                                releasedate:$("#filmdate").val(),
                                status:$("#filmstatus").val(),
                                recommend:$("#filmrecommend").val()
                            },
                            function (data){
                                console.log(data);
                                vueapp.list=data.maps.pageInfo.list;
                            }
                        );
                        if (!first) {
                            layer.msg('第 ' + obj.curr + ' 页');
                        }
                    }
                });
            });
        }
    );

// ==============================================================================================

    //编辑弹出的表单
    var vueeditor=new Vue({
        el:"#editorfilm",
        data:{
            film:{}
        },
        update:function () {
            layui.use(['form'],function () {
                form.render();
            })
        }
    });

    //点击事件
    function editor(obj){
        var id=$(obj).attr("id");
        $.post("/filmController/findfilm",{
                fid:id
            },
            function (data) {
                vueeditor.film=data;
                console.log(vueeditor.film);
                // layui.use(['form'],function () {
                //     form.render();
                // })
                //var a=$("#"+data.status).attr("checked",true);
                //$("#"+data.status).prop("checked",true)
                //$("[ck="+data.status+"]").prop("checked","true")
                //$("input[name='status']").val(data.status).prop("checked", true);
            }
            ,"json"
        );
// =========================================================================================


    layui.use(['layer','form'],function(){
        var form = layui.form;
        layer.open({
            type: 1,
            title:"编辑电影信息",
            closeBtn: false,
            shift: 2,
            area: ['650px', '600px'],
            shadeClose: true,
            // btn: ['新增', '取消'],
            // btnAlign: 'c',
            content: $("#editorfilm"),
            success: function(layero, index){},
            yes:function(){
            }
        });
    })
    }



    //提交
    layui.use(['form','layer'], function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:"/filmController/updatefilm",
                data:data.field,
                type:"post",
                dataType:"json",
                success: function(data){
                    if(data.code=="200"){
                        layer.msg("修改成功");
                        location.reload();
                    }else{
                        layer.msg("修改失败");
                    }
                }
            });
            return false;
        });
    });

    //使用时间选择控件
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#filmdate1'//指定元素
        });
    });

    //使用图片上传控件
    layui.use(["jquery", "upload", "form", "layer", "element"], function () {
        var $ = layui.$,
            element = layui.element,
            layer = layui.layer,
            upload = layui.upload,
            form = layui.form;
        //拖拽上传
        var uploadInst = upload.render({
            elem: '#filmImg'
            , url: '/filmController/upload'
            , size: 1024
            ,method:'POST'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                //打印后台传回的地址: 把地址放入一个隐藏的input中, 和表单一起提交到后台, 此处略..
                /*   console.log(res.data.src);*/
                $('#img').attr('value',res.maps.src);
                var demoText = $('#demoText');
                demoText.html('<span style="color: #8f8f8f;">上传成功!!!</span>');
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        element.init();
    });



    //图片重置
    $("#reset").click(function(){
        $("#demo1").attr("src","http://t.cn/RCzsdCq");
    });

</script>
</body>
</html>