<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" th:href="@{/background/layui/css/layui.css}">
    <script th:src="@{/background/layui/layui.js}"></script>
    <script th:src="@{/background/js/jquery.min.js}"></script>-->
</head>
<body>
<!--头部栏-->
    <div class="layui-header" th:fragment="head">
        <div class="layui-logo">影院后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
            <!--<li class="layui-nav-item"><a href="">控制台</a></li>-->
            <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
            <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">其它系统</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="">邮件管理</a></dd>-->
                    <!--<dd><a href="">消息管理</a></dd>-->
                    <!--<dd><a href="">授权管理</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:if="${session.huser}!=null">
                    <div th:if="${session.huser}!=''">
                    <img th:src="@{/filmimg/adminimg1.png}" class="layui-nav-img" style="width: 40px;height: 40px">
                    <label th:text="${session.huser.aname}"></label>
                    </div>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/backoperate/logout">退了</a></li>
        </ul>
    </div>


<!--左侧列表-->
    <div class="layui-side layui-bg-black" th:fragment="side">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"th:class="${activeUrl=='upper'||activeUrl=='modify'||activeUrl=='check'||activeUrl=='arrange'}?'layui-nav-item layui-nav-itemed':'layui-nav-item'">
                    <a class="" href="javascript:;">电影管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/view/upperview" th:class="${activeUrl=='upper'}?'layui-this':''">上架电影</a></dd>
                        <dd><a href="/view/modifyview"th:class="${activeUrl=='modify'}?'layui-this':''">修改电影</a></dd>
                        <dd><a href="/view/checkfilmview"th:class="${activeUrl=='check'}?'layui-this':''">查询电影</a></dd>
                        <dd><a href="/view/arrangefilmview"th:class="${activeUrl=='arrange'}?'layui-this':''">我要排片</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item"th:class="${activeUrl=='showhall'||activeUrl=='sethall'||activeUrl=='addhall'}?'layui-nav-item layui-nav-itemed':'layui-nav-item'">
                    <a href="javascript:;">影厅管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/view/showhallview"th:class="${activeUrl=='showhall'}?'layui-this':''">影厅信息</a></dd>
                        <dd><a href="/view/sethallview"th:class="${activeUrl=='sethall'}?'layui-this':''">影厅设置</a></dd>
                        <dd><a href="/view/addhallview"th:class="${activeUrl=='addhall'}?'layui-this':''">新增影厅</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item" th:class="${activeUrl=='showthreater'||activeUrl=='addthreater'}?'layui-nav-item layui-nav-itemed':'layui-nav-item'">
                    <a href="javascript:;">影院管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/view/showthreaterview" th:class="${activeUrl=='showthreater'}?'layui-this':''">查看影院</a></dd>
                        <dd><a th:href="@{/view/addthreaterview}" th:class="${activeUrl=='addthreater'}?'layui-this':''">添加影院</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="/view/usermanageview" th:class="${activeUrl=='usermanage'}?'layui-this':''">用户管理</a>
                </li>


                <li class="layui-nav-item"th:class="${activeUrl=='adminmanage'||activeUrl=='advertmanage'}?'layui-nav-item layui-nav-itemed':'layui-nav-item'">
                    <a href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/view/adminmanageview"th:class="${activeUrl=='adminmanage'}?'layui-this':''">员工管理</a></dd>
                        <dd><a href="/view/advertview"th:class="${activeUrl=='advertmanage'}?'layui-this':''">广告管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

<!--底部固定区域-->
    <div class="layui-footer" id="mainbody" th:fragment="foot">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>

    <script>
        //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;
        });
    </script>
</body>
</html>
