<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>狗眼影院</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/front/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/front/css/board.css}"/>
</head>
<body>
<div th:replace="front/common::common-header(activeUri='/board')"></div>
    <!--fffff-->
<div class="subnav">
    <ul class="navbar">
        <li>
            <a data-act="subnav-click" data-val="{subnavClick:7}"
               href="/board/7"
            >热映口碑榜</a>
        </li>
        <li>
            <a data-act="subnav-click" data-val="{subnavClick:6}"
               data-state-val="{subnavId:6}"
               class="active" href="javascript:void(0);"
            >最受期待榜</a>
        </li>
        <li>
            <a data-act="subnav-click" data-val="{subnavClick:1}"
               href="/board/1"
            >国内票房榜</a>
        </li>
        <li>
            <a data-act="subnav-click" data-val="{subnavClick:2}"
               href="/board/2"
            >北美票房榜</a>
        </li>
        <li>
            <a data-act="subnav-click" data-val="{subnavClick:4}"
               href="/board/4"
            >TOP100榜</a>
        </li>
    </ul>
</div>


<div class="container" id="app">

    <div class="content">
        <div class="wrapper">
            <div class="main">
                <p class="update-time">2019-10-17<span class="has-fresh-text">已更新</span></p>
                <p class="board-content">榜单规则：将昨日国内待映影片，按照之前30天的想看数总量从高到低排列取前50名，每天上午10点更新。相关数据来源于“猫眼电影库”。</p>
                <dl class="board-wrapper">
                    <dd>
                        <i class="board-index board-index-1">1</i>
                        <a href="/films/1249366" title="航海王：狂热行动" class="image-link" data-act="boarditem-click" data-val="{movieId:1249366}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p0.meituan.net/moviemachine/ff399baffe786445b96e4e3d24fe1eeb675719.jpg@160w_220h_1e_1c" alt="航海王：狂热行动" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1249366" title="航海王：狂热行动" data-act="boarditem-click" data-val="{movieId:1249366}">航海王：狂热行动</a></p>
                                    <p class="star">主演：田中真弓,冈村明美,中井和哉</p><p class="releasetime">上映时间：2019-10-18</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xf1d6;&#xeef0;&#xf1d6;&#xf569;&#xf4b7;&#xe9dd;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xf569;&#xf569;&#xef8e;&#xe3c7;&#xf569;&#xe3c7;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-2">2</i>
                        <a href="/films/345419" title="沉睡魔咒2" class="image-link" data-act="boarditem-click" data-val="{movieId:345419}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p1.meituan.net/moviemachine/c68e3fff79463952b33cbc1e1b45442b1772992.jpg@160w_220h_1e_1c" alt="沉睡魔咒2" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/345419" title="沉睡魔咒2" data-act="boarditem-click" data-val="{movieId:345419}">沉睡魔咒2</a></p>
                                    <p class="star">主演：安吉丽娜·朱莉,艾丽·范宁,切瓦特·埃加福特</p><p class="releasetime">上映时间：2019-10-18</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xf1d6;&#xf6e7;&#xf4b7;&#xf569;&#xe9dd;&#xf569;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xf1d6;&#xf1d6;&#xe39d;&#xf4b7;&#xf569;&#xf1d6;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-3">3</i>
                        <a href="/films/1250952" title="天气之子" class="image-link" data-act="boarditem-click" data-val="{movieId:1250952}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p0.meituan.net/movie/ecca4f0b95340b2c57006a1bace4c3f91386100.jpg@160w_220h_1e_1c" alt="天气之子" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1250952" title="天气之子" data-act="boarditem-click" data-val="{movieId:1250952}">天气之子</a></p>
                                    <p class="star">主演：森七菜,醍醐虎汰朗,小栗旬</p><p class="releasetime">上映时间：2019-11-01</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xe9dd;&#xe39d;&#xe9dd;&#xe3c7;&#xef8e;&#xf6e7;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xf1d6;&#xf1d6;&#xf6e7;&#xe9dd;&#xe9dd;&#xe9dd;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-4">4</i>
                        <a href="/films/1217023" title="唐人街探案3" class="image-link" data-act="boarditem-click" data-val="{movieId:1217023}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p0.meituan.net/movie/b5c913630f1fe53775d957b8f115ed5d929026.jpg@160w_220h_1e_1c" alt="唐人街探案3" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1217023" title="唐人街探案3" data-act="boarditem-click" data-val="{movieId:1217023}">唐人街探案3</a></p>
                                    <p class="star">主演：王宝强,刘昊然,张子枫</p><p class="releasetime">上映时间：2020-01-25</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xe9dd;&#xf6e7;&#xef8e;&#xeef0;&#xeef0;&#xef8e;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xf4b7;&#xf6e7;&#xf7ce;&#xf569;&#xf7ce;&#xf7ce;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-5">5</i>
                        <a href="/films/503342" title="双子杀手" class="image-link" data-act="boarditem-click" data-val="{movieId:503342}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p0.meituan.net/movie/c437c3e340eff266f5cc7dcc79bead6b2406517.jpg@160w_220h_1e_1c" alt="双子杀手" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/503342" title="双子杀手" data-act="boarditem-click" data-val="{movieId:503342}">双子杀手</a></p>
                                    <p class="star">主演：威尔·史密斯,玛丽·伊丽莎白·温斯特德,克里夫·欧文</p><p class="releasetime">上映时间：2019-10-18</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xf7ce;&#xf4b7;&#xeef0;&#xe39d;&#xeef0;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xe9dd;&#xf6e7;&#xf1d6;&#xf569;&#xef8e;&#xf4b7;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-6">6</i>
                        <a href="/films/1190122" title="叶问4" class="image-link" data-act="boarditem-click" data-val="{movieId:1190122}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p0.meituan.net/movie/4bfb08bfe0b8dd20776c6efc4015de6d995158.jpg@160w_220h_1e_1c" alt="叶问4" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1190122" title="叶问4" data-act="boarditem-click" data-val="{movieId:1190122}">叶问4</a></p>
                                    <p class="star">主演：甄子丹,陈国坤,吴樾</p><p class="releasetime">上映时间：2019-12-20</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xe39d;&#xe9dd;&#xf1d6;&#xe39d;&#xe3c7;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xe3c7;&#xe3c7;&#xf4b7;&#xf4b7;&#xeef0;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-7">7</i>
                        <a href="/films/1211269" title="姜子牙" class="image-link" data-act="boarditem-click" data-val="{movieId:1211269}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p0.meituan.net/moviemachine/2d4056b18bff5dfee1928db167cbb42890437.jpg@160w_220h_1e_1c" alt="姜子牙" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1211269" title="姜子牙" data-act="boarditem-click" data-val="{movieId:1211269}">姜子牙</a></p>
                                    <p class="star">主演：王昕</p><p class="releasetime">上映时间：2020-01-25</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xf4b7;&#xe39d;&#xf4b7;&#xe3c7;&#xe39d;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xeef0;&#xf569;&#xf569;&#xf7ce;&#xef8e;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-8">8</i>
                        <a href="/films/1214683" title="好莱坞往事" class="image-link" data-act="boarditem-click" data-val="{movieId:1214683}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p1.meituan.net/moviemachine/c2baef4bf563717bd3fa7ee49d2ee963482871.jpg@160w_220h_1e_1c" alt="好莱坞往事" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1214683" title="好莱坞往事" data-act="boarditem-click" data-val="{movieId:1214683}">好莱坞往事</a></p>
                                    <p class="star">主演：莱昂纳多·迪卡普里奥,布拉德·皮特,玛歌特·罗比</p><p class="releasetime">上映时间：2019-10-25</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xf4b7;&#xf6e7;&#xf6e7;&#xeef0;&#xe9dd;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xf4b7;&#xf7ce;&#xf569;&#xf4b7;&#xf569;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-9">9</i>
                        <a href="/films/1215348" title="天作谜案" class="image-link" data-act="boarditem-click" data-val="{movieId:1215348}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p0.meituan.net/movie/6bce8da6f1daa7f69bed91cd00b049a42186478.jpg@160w_220h_1e_1c" alt="天作谜案" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1215348" title="天作谜案" data-act="boarditem-click" data-val="{movieId:1215348}">天作谜案</a></p>
                                    <p class="star">主演：西达尔特·马尔霍特拉,索娜什·辛哈,阿克夏耶·坎纳</p><p class="releasetime">上映时间：2019-10-25</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xf569;&#xf569;&#xeef0;&#xe39d;&#xef8e;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xe9dd;&#xf7ce;&#xe3c7;&#xef8e;&#xe3c7;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-10">10</i>
                        <a href="/films/461076" title="紧急救援" class="image-link" data-act="boarditem-click" data-val="{movieId:461076}">
                            <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
                            <img data-src="https://p0.meituan.net/moviemachine/7c0b961c49c2cc1a5d1ed4615beb8dbf6695755.jpg@160w_220h_1e_1c" alt="紧急救援" class="board-img" />
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/461076" title="紧急救援" data-act="boarditem-click" data-val="{movieId:461076}">紧急救援</a></p>
                                    <p class="star">主演：彭于晏,王彦霖,辛芷蕾</p><p class="releasetime">上映时间：2020-01-25</p>    </div>
                                <div class="movie-item-number wish">
                                    <p class="month-wish">本月新增想看：<span><span class="stonefont">&#xf569;&#xe9dd;&#xf1d6;&#xe3c7;&#xf4b7;</span></span>人</p>
                                    <p class="total-wish">总想看：<span><span class="stonefont">&#xf7ce;&#xe39d;&#xeef0;&#xf7ce;&#xe39d;</span></span>人</p>
                                </div>

                            </div>
                        </div>

                    </dd>
                </dl>

            </div>
            <div class="pager-main">


                <ul class="list-pager">



                    <li class="active">
                        <a class="page_1"
                           href="javascript:void(0);" style="cursor: default"
                        >1</a>

                    </li>
                    <li >
                        <a class="page_2"
                           href="?offset=10"
                        >2</a>

                    </li>
                    <li >
                        <a class="page_3"
                           href="?offset=20"
                        >3</a>

                    </li>
                    <li >
                        <a class="page_4"
                           href="?offset=30"
                        >4</a>

                    </li>
                    <li >
                        <a class="page_5"
                           href="?offset=40"
                        >5</a>

                    </li>


                    <li>  <a class="page_2"
                             href="?offset=10"
                    >下一页</a>
                    </li>
                </ul>


            </div>
        </div>
    </div>

</div>

<div th:replace="front/common::common-footer"></div>

</body>
</html>
